/********** Template CSS **********/
:root {
  --primary: #06a3da;
  --secondary: #f57e57;
  --light: #eef9ff;
  --dark: #091e3e;
}

.form-group1 > label {
  margin-bottom: 0.2rem;
}
.radio-container input {
  margin-right: 0.5rem;
}
h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
}

.btn-primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--primary);
  transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  color: var(--dark);
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, 0.85);
  z-index: 1;
}

/* Hero Banner 2 */
.hero-banner-2 {
  height: 320px;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
  /* Appointment Banner form */
  .hero-banner-2 {
    height: fit-content;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 991.98px) {
  .banner {
    position: relative;
    margin-top: -90px;
    z-index: 1;
  }
}

.section-title h5::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  right: -55px;
  bottom: 11px;
  background: var(--primary);
}

.section-title h5::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  right: -75px;
  bottom: 11px;
  background: var(--secondary);
}

.twentytwenty-wrapper {
  height: 100%;
}

.hero-header {
  background: linear-gradient(rgba(9, 30, 62, 0.85), rgba(9, 30, 62, 0.85)),
    url(/src/assets/img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.bg-appointment {
  background: center center no-repeat;
  background-size: cover;
}

.appointment-form {
  /* background: rgba(6, 163, 218, 0.7); */
  background: transparent;
}

.service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
  transition: 0.5s;
}

.service-item:hover img {
  transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 100px / 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
  opacity: 1;
}

.bg-offer {
  background: center center no-repeat;
  background-size: cover;
}

.offer-text {
  background: rgba(6, 163, 218, 0.85);
}

.price-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 45px);
  height: 45px;
  top: calc(50% - 22.5px);
  left: -22.5px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  font-size: larger;
  color: var(--light);
}

.price-carousel:hover .owl-nav .owl-prev,
.price-carousel:hover .owl-nav .owl-next {
  opacity: 1;
  background: var(--primary);
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: 0.5s;
  opacity: 1;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.bg-testimonial {
  background: center center no-repeat;
  background-size: cover;
}

.testimonial-carousel {
  background: rgba(6, 163, 218, 0.85);
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 46px);
  height: 46px;
  top: calc(50% - 23px);
  left: -23px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  color: transparent;
  font-size: larger;
}
.testimonial-carousel:hover .owl-nav .owl-prev,
.testimonial-carousel:hover .owl-nav .owl-next {
  background: var(--primary);
  color: var(--light);
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

/* adminData */
.admin_table_section {
  padding-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

#adminTable {
  display: table;
  width: auto;
  padding: 30px 100px;
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  width: 100%;
  border-collapse: collapse;
}

.admin_table_section h2 {
  color: #007bff;
  text-align: center;
  padding-bottom: 20px;
}

#adminTable th,
#adminTable td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

#adminTable th {
  background-color: #007bff;
  padding-bottom: 10px;
}

#adminTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#adminTable tbody tr:hover {
  background-color: #ddd;
}

#adminTable button {
  background-color: #007bff;
  padding: 5px 5px;
}

.admin_form h4 {
  font-size: 35px;
  text-align: center;
  color: #007bff;
  padding-top: 15px;
}

.admin_form {
  display: block;
  width: auto;
  padding: 30px 100px;
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
}

.admin_form label {
  font-size: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
}

.admin_form .form-control {
  background-color: transparent;
  border: 1px solid #007bff;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
}

.admin_form .form-control::-webkit-input-placeholder {
  color: #007bff;
}

.admin_form #inputDate {
  color: #007bff;
}

.admin_form #inputDate input {
  color: #007bff;
}

.admin_form button.btn {
  background-color: #252525;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.appointments_table_section {
  padding-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

#appointmentsTable {
  display: table;
  width: auto;
  padding: 30px 100px;
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  width: 100%;
  border-collapse: collapse;
  padding-bottom: 100px;
}

.appointments_table_section h2 {
  color: #007bff;
  text-align: center;
  padding-bottom: 20px;
}

#appointmentsTable th,
#appointmentsTable td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

#appointmentsTable th {
  background-color: #007bff;
  padding-bottom: 10px;
}

#appointmentsTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#appointmentsTable tbody tr:hover {
  background-color: #ddd;
}

#appointmentsTable button {
  background-color: #007bff;
  padding: 5px 5px;
}

.date-filters,
.filter1 {
  display: flex;
  align-items: center;
}

.filter {
  margin-right: 20px; /* Adjust spacing between elements */
}

@media (max-width: 768px) {
  input[type="date"] {
    width: 90%;
  }

  select {
    width: 80%;
    margin-bottom: 20px;
  }

  .date-filters {
    flex-direction: row;
  }
}

/* appointment-form */
.ftco-intro {
  color: #fff;
}
.ftco-intro .container {
  margin-top: -100px;
}

@media (min-width: 768px) {
  .ftco-intro .container {
    margin-top: -100px;
  }
}
.ftco-intro .color-1 {
  background: #2cbcbc;
}
.ftco-intro .color-2 {
  background: #21aac4;
}
.ftco-intro .color-3 {
  background: #2f89fc;
  background: -moz-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, #2f89fc),
    color-stop(100%, #2cbcbc)
  );
  background: -webkit-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
  background: -o-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
  background: -ms-linear-gradient(-45deg, #2f89fc 0%, #2cbcbc 100%);
  background: -webkit-linear-gradient(315deg, #2f89fc 0%, #2cbcbc 100%);
  background: -o-linear-gradient(315deg, #2f89fc 0%, #2cbcbc 100%);
  background: linear-gradient(135deg, #2f89fc 0%, #2cbcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#00dc94', GradientType=1 );
}
.ftco-intro h3 {
  font-size: 20px;
  color: #fff;
}
.ftco-intro .phone-number {
  font-size: 18px;
}
.ftco-intro .openinghours {
  display: block;
  width: 100%;
  font-size: 14px;
}
.ftco-intro .openinghours span {
  width: 50%;
  display: block;
}
.ftco-intro .appointment-form .form-group {
  position: relative;
}
.ftco-intro .appointment-form .form-group input,
.ftco-intro .appointment-form .form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff !important;
  font-size: 14px;
  padding-right: 20px !important;
}
.ftco-intro .appointment-form .form-group input option,
.ftco-intro .appointment-form .form-group select option {
  color: #fff;
}
.ftco-intro .appointment-form .form-group input::-webkit-input-placeholder,
.ftco-intro .appointment-form .form-group select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff !important;
}
.ftco-intro .appointment-form .form-group input::-moz-placeholder,
.ftco-intro .appointment-form .form-group select::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}
.ftco-intro .appointment-form .form-group input:-ms-input-placeholder,
.ftco-intro .appointment-form .form-group select:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
}
.ftco-intro .appointment-form .form-group input:-moz-placeholder,
.ftco-intro .appointment-form .form-group select:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}
.ftco-intro .appointment-form .form-group .btn-primary {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 0;
  padding-right: 0 !important;
}
.ftco-intro .appointment-form .icon {
  position: absolute;
  top: 50% !important;
  right: 0;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}
@media (max-width: 767.98px) {
  .ftco-intro .appointment-form .icon {
    right: 10px;
  }
}
